/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

//remove unecessary border on Panel
.components-panel {
    border: 0;
}

 .wp-block[data-type="mayflower-blocks/row"] div[class="wp-block-mayflower-blocks-row"]{
    padding: 1em 0;

    .row {
        margin: 0 15px;
        
        >.editor-inner-blocks {
            >.editor-block-list__layout {
                >.block-list-appender {
                    clear: both;
                    margin: 0 3rem;
                    padding: 1em 0;
                    display: none;
                }
            }
        }

    }

    .row-menu {
        display: flex;
        flex-wrap: wrap;

        button {
            flex: 1;
            clear: both;
            font-size: 1em;
            padding: 1em;
            border: 1px dashed #8d96a0;
            justify-content: center;
            color: #555d66;
            margin-right: -1px;
            span {
                margin-left: 0.25em;
                line-height: 1.25em;

                &.dashicons.dashicons-trash{
                    margin-top: -2px;
                }
            }
        }

        button:hover {
            border: 1px dashed #555d66;
        }
    }
}