/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

@import "../shared-elements/common";


.wp-block-mayflower-blocks-child-pages {
	border: 1px solid #eee;
	padding: 1rem;

	/* ####################################### */
	/* ----- Page template overrides ----- */
	/* ###################################### */

	.nav-page h2 {
		margin-top: 0;
	}

	.nav-page-list h2 {
		margin-top: 2rem;
	}

	.nav-page img {
		margin-top: 0;
		display: inline;
	}

	div.nav-page {
		margin-bottom: 1em;
	}

	li.media {
		margin-left: 0;
	}

	/* ####################################### */
	/* ----- Fluid Grid Page Template ----- */
	/* ###################################### */

	$fluid-grid-min-column-width: 200px;

	.child-pages.fluid-grid {
		div {
			padding: 0 1em 1em 1em;
		}

		div.hasimage {
		}

		div.grid-sizer,
		& > article {
			width: calc(50% - 10px);
			padding: 0;
			border: 0;
			min-width: $fluid-grid-min-column-width;
			margin-bottom: 20px;
			background: #fff;
		}
	}

	.child-pages.fluid-grid:after {
		content: "";
		display: block;
		clear: both;
	}

	@media screen and (max-width: ($fluid-grid-min-column-width+30px)*2) {
		.child-pages.fluid-grid {
			div.grid-sizer,
			& > article {
				width: 100%;
			}
		}
	}

	@media screen and (min-width: $breakpoint-bs-sm) {
		.child-pages.fluid-grid {
			div.grid-sizer,
			& > article {
				width: calc(33.3333% - 10px);
			}
		}
	}
}
