/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-mayflower-blocks-collapse{
		margin: 0;
        &.card {
            padding: 0;
			max-width: 100%;
			margin: 0;
        }
        .card-body > *:last-child {
			margin-bottom: 0;
        }
    }
