/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-mayflower-blocks-column {

    .column {
        position: relative;
    }
    

    // .editor-block-list__layout .editor-block-list__block[data-type="mayflower-blocks/column"] {
    //     .editor-block-list__block-edit::before {
    //         outline: none;
    //     }
    //     .editor-block-mover {
    //         display: none;
    //     }
    // }

    .is-selected {
        float: none;
    }

    .rollover-column {
        display: none;
        position: absolute;
        background-color: #fff;
        border: 1px dashed #8d96a0;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;

        .rollover-menu {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            button {
                word-wrap: break-word;
                white-space: normal;
                height: auto;
                padding: .5em;
                flex: 1;
                align-items: center;
                justify-content: center;
            }

            button:first-child {
                margin-bottom: 1em;
            }

            .rollover-menu-text-hidden {
                display: none;
            }
        }
    }

    .column:hover .rollover-column {
        display: block;
    }
    
    .column:hover.is-selected .rollover-column {
        display: none;
    }

    .visible-column {
        display: block;
    }

    .invisible-column {
        display: none;
    }


}

[data-type="mayflower-blocks/column"] {
    //don't display insertion points on column
    .editor-block-list__insertion-point {
        display: none;
    }
}