/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-mayflower-blocks-staff-list {

	/* Prevent Interaction */
	pointer-events: none;
	border: 1px solid #eee;
	padding: .5rem;

	/* Over-ride Block Editor Styles */
	.card {
		padding: 0;
		margin-top: 0;
	}
}
