/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

[data-type="mayflower-blocks/collapsibles"] {
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
}
