/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-mayflower-blocks-button-group.btn-group {
	& > .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		.block-list-appender {
		}
	}

}
