/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 .wp-block[data-type="mayflower-blocks/tabs"] {
	box-sizing: border-box;
	border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1em;
    padding: 1.5rem;
    
    .wp-block-mayflower-blocks-tabs > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-list-appender {
        display: none;
    }
}