/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .wp-block[data-type="mayflower-blocks/tab-content"] {

    > .editor-block-list__insertion-point {
        display: none;
    }

    &.block-editor-block-list__block {
        &.is-selected {
            > .editor-block-list__block-edit {
                &::before {
                    box-shadow: none;
                    border: none;
                }
                > .editor-block-mover {
                    display: none;
                }
                > div[role="toolbar"].editor-block-contextual-toolbar {
                    display: none;
                }
            }
        } 
    }

    .tab-content > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-list-appender {
        display: none;
    }

    li[role="presentation"] {
        list-style-type: none;
        margin-bottom: 0;
    }

    .tab-content {
        div[role="tabpanel"] {
            display: none;
        }

        div[role="tabpanel"].active {
            display: block;
        }
    }
    
}