/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.wp-block-mayflower-blocks-course {

	padding: 1em .5em;
	border: 1px dashed #aaa;

	.editor-only {
		display: block;
	}

	.controls {
		pointer-events: auto;
		border: 1px solid black;
		border-radius: 2px;
		background: #eee;

		display: flex;

		& > div {
			flex: 1 1 auto;
			margin: 1em;
		}
	}
}
.is-selected .wp-block-mayflower-blocks-course {
	border: 0;
	padding: 0;

	.components-disabled {
		padding: 1rem;
	}
}
