/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-mayflower-blocks-button {
	.btn {
		cursor: text;
	}
	.set-link-href {
		padding: .5em .5em .25em .5em;
		margin: 0 .5em 0 0;
		background: #efefef;
		border-radius: 0px 2px 2px 2px;
		border: 1px solid black;

	}
	.components-base-control__help {
		font-size: .9em;
		color: #222;
	}

}
.components-dropdown-menu__menu-item.is-active {
	background: #efefef;
	box-shadow: inset 1px 1px 3px #888;
}
