/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-mayflower-blocks-staff-list {


	pointer-events: none;
	border: 1px solid #eee;
	padding: .5rem;



	.staff-details h1,
	.staff-details h2,
	.staff-details h3 {
		padding: 0;
		margin: 0;
	}

	/*.staff-details h3 {
		margin-bottom: 21px;
	}*/
	.staff-details h2 {
		margin-bottom: 0.25em;
		color: #000;
	}

	.staff-details h3 {
		font-style: normal;
		color: #000;
	}

	.staff-details ul {
		padding: 0;
		margin: 1em 0;

	}
	.staff-details li {
		list-style: none;
	}

	.staff-details-top {
		margin-top: 1em;

		@media screen and (min-width: $breakpoint-bs-sm) {
			margin-top: 0;
		}

	}

	.staff-details-card {
		.pull-left {
			float: none !important;
		}

		.media-body{
			float: left;
			width: 100%;
		}

		img {
			margin: auto;
			margin-right: 1em;
		}
		
		@media screen and (min-width: $breakpoint-bs-sm) {
			.pull-left {
				float: left !important;
			}

			.media-body {
				float: none;
				width: 100%;
			}

		}
	}

	.staff-details-header {
		text-align: center;
		@media screen and (min-width: $breakpoint-bs-sm) {
			text-align: initial;
		}
	}

	.staff-biography-single.content-padding {
		@media screen and (min-width: $breakpoint-bs-sm) {
			padding: 0;
		}
	}
		/*
		* Staff Grid-only styles
		*/

	.staff-details-grid-top {
		margin-top: 1em;
	}

	.staff-details-card-grid {
		text-align: center;
		border-bottom: 1px solid #eeeeee;

		@media screen and (min-width: $breakpoint-bs-md) {
			border-bottom: none;
		}

		img {
			margin: auto;
		}

		a {
			display: inline-block;
			margin-bottom: -7px;
		}
	}

	@media screen and (max-width: $breakpoint-bs-sm) {
		.staff-details-grid-top.top-spacing15 {
			margin-top: 0;
		}
	}

	@media screen and (max-width: $breakpoint-bs-md) {
		.col-md-4.staff-details-col:first-child, .col-md-4.staff-details-col:first-child + .col-md-4.staff-details-col  {
			margin-bottom: 1em;
		}

		.row.top-spacing15:last-child {
			margin-bottom: 1em;
		}
	}

}