/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .wp-block div[class^="wp-block-"] {
    .wp-block[data-type="mayflower-blocks/tab-list-tab"] {

        > .editor-block-list__insertion-point {
            display: none;
        }

        > div.editor-block-list__block-edit > div[data-block] {
            margin-top: 10px;
            margin-bottom: 0;
        }

        &.block-editor-block-list__block {
            &.is-selected {
                > .editor-block-list__block-edit {
                    > div[role="toolbar"].editor-block-contextual-toolbar {
                        > .editor-block-toolbar {
                            > .editor-format-toolbar {
                                > .components-toolbar {
                                    > .components-dropdown-menu{
                                        display: none;
                                    }
                                }
                            }
                            > div > div.components-toolbar > div > button.editor-block-settings-menu__toggle {
                                display: none;
                            }
                        }
                    }
                }
            }
            &.has-warning {
                > .editor-block-list__block-edit {
                    > div[role="toolbar"].editor-block-contextual-toolbar {
                        > .editor-block-toolbar {
                            > div > div.components-toolbar > div > button.editor-block-settings-menu__toggle {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        > .editor-block-list__block-edit {
            > .editor-block-contextual-toolbar {
                > .editor-block-toolbar {
                    > .editor-format-toolbar {
                        > .components-toolbar {
                            > .components-dropdown-menu{
                                display: none;
                            }
                        }
                    }
                    > div > div.components-toolbar > div > button.editor-block-settings-menu__toggle {
                        display: none;
                    }
                }
            }
        }
    }
 }


.wp-block-mayflower-blocks-tab-list-tab {

}


